.nav {
  height:55px!important;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#39d1b4;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.logo {
  height:40px;
  margin-top:-9px;
}



@media (min-width: 768px) {
  .navbar-right {
  margin-top:4px;
}
}

@media (min-width: 768px) {
  .navbar-right>li>a {
  height:45px;
}
}

@media (min-width: 768px) {
  #steam {
    color:#ffffff;
    font-weight:700;
    position:relative;
    bottom:5px;
    right:2px;
    margin-top:10px;
    padding-bottom:0px;
    padding-top:11px;
    background:#009688;
    border:2px solid #009688;
    border-radius:5px;
    font-size:16px;
    -webkit-transition:200ms ease-in-out;
    -moz-transition:200ms ease-in-out;
    -ms-transition:200ms ease-in-out;
    -o-transition:200ms ease-in-out;
    transition:200ms ease-in-out;
}
}


@media (min-width: 768px) {
    #steam:hover {
    color:#009688;
    background:#EEEEEE;
  }
}

i {
  margin-right:5px;
}

canvas {
  border-radius:120px;
}

#pbar-container {
  width:98%;
}

#center-nav {
  font-size:16px;
}