.nav {
  height:55px!important;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#39d1b4;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.logo {
  height:40px;
  margin-top:-9px;
}



@media (min-width: 768px) {
  .navbar-right {
  margin-top:4px;
}
}

@media (min-width: 768px) {
  .navbar-right>li>a {
  height:45px;
}
}

@media (min-width: 768px) {
  #steam {
    color:#ffffff;
    font-weight:700;
    position:relative;
    bottom:5px;
    right:2px;
    margin-top:10px;
    padding-bottom:0px;
    padding-top:11px;
    background:#009688;
    border:2px solid #009688;
    border-radius:5px;
    font-size:16px;
    /*
    -webkit-transition:200ms ease-in-out;
    -moz-transition:200ms ease-in-out;
    -ms-transition:200ms ease-in-out;
    -o-transition:200ms ease-in-out;
    transition:200ms ease-in-out; */
}
}

/*
@media (min-width: 768px) {
    #steam:hover {
    color:#009688;
    background:#EEEEEE;
  }
}
*/

i {
  margin-right:5px;
}

canvas {
  border-radius:120px;
  margin-bottom:25px;
  margin-top:5px;
}

#page-container {
  width:98%;
}

#center-nav {
  font-size:16px;
}

.skin-image {
  width:180px;
  height:180px;
  margin:-20px 30px 0 30px;
}

.skin-name {
  text-align: center;
  margin-top:0;
}

.deposited-picture {
  float:left;
}

.row-picture, .row-picture>.circle {
  width:45px!important;
  height:45px!important;
}

.row-picture {
  padding-right:0px!important;
  margin-right:16px;
}

.row-content {
  min-height:45px!important;
}

.list-group-item-heading {
  vertical-align:middle;
  line-height:25px!important;
  margin-top:10px;
}

#game-panel {
  max-height:740px;
}

#pbar-info {
  color:#14A1FF;
  text-align:center;
}
#num-skins {
  font-size:100px;
}

#skins-word {
  font-size:50px;
}

@media (min-width: 768px) {
#skin-panel {
  width:310px;
}
}

@media (max-width: 767px) {
  #skin-panel {
    width:100%;
  }
}

.username-bold {
  font-weight:bold;
}

button {
  color:black;
}

#skin-panel-body {
  padding:0 15px;
}